body{
    background-color:black;
    color:white;
}
.container{
    min-height: 100vh;
}
footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
nav{
    font-family: 'Poppins', sans-serif;
    padding: 23px;
    background-color:purple;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    display: flex;
}
nav ul{
    display: flex;
}
div.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 0 23px;
}
*{
    margin: 0;
    padding: 0;
}